<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>플랜치</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mobile/calendar.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mobile/tutor.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/semantic/semantic.min.js"></script>
  </head>

<style type="text/css">
html, body{
    width: 100%;
    height:100%;
    padding: 0;
    margin:0;
    background-color: #f9f9f9;
}

.cardbox{
    background: #fff !important;
    margin:5px !important;
    padding:10px !important;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03) !important;
    border:1px solid #f3f3f3;
}
.tabmenu .active{
    color:#6B9900 !important;
}
#tl{
    border-bottom: 2px solid #f1f1f1;
    overflow: scroll;
    scrollbar-face-color: #b46868;
}
#tl::-webkit-scrollbar {
      width: 3px;
      height: 2px;
}
#tl .item{
    border-radius: 0;
    margin:0;
    color:#c2c2c2;
}
#tl .active{
    color:#6B9900;
    background-color: #fff !important;
    border-bottom:2px solid #6B9900;
}
</style>

<body>

    <%- include('modules/sidebar')%>


<!-- Page Contents -->
<div class="pusher">


    <div class="" style="width:80%;  margin:25px auto;">
        <h1>LOGO</h1>
    </div>

    <div class="" style="width:80%; max-width:650px; margin:0 auto;">
        <form class="ui form">
            <h4>추가정보</h4>
            <hr>
          <div class="field">
            <label>성별</label>
            <div class="inline fields">
                <!-- <label for="fruit">성별 </label> -->
                        <div class="field">
                          <div class="ui radio checkbox">
                            <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
                            <label>남자</label>
                          </div>
                        </div>

                        <div class="field">
                          <div class="ui radio checkbox">
                            <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
                            <label>여자</label>
                          </div>
                        </div>
            </div>
          </div>

          <div class="field">
            <label>아이디</label>
            <div class="inline fields">
                <select class="" name="" style="width:30%;">
                    <% for(var ii=2017; ii>=1900; ii--)%>
                    <option value="<%=ii%>"><%=ii%></option>
                </select>년
                <select class="" name="" style="width:15%;">
                    <% for(var jj=12; jj>1; jj--)%>
                    <option value="<%=jj%>"><%=jj%></option>
                </select>월
                <select class="" name="" style="width:15%;">
                    <% for(var jj=31; jj>1; jj--)%>
                    <option value="<%=jj%>"><%=jj%></option>
                </select>일
            </div>


          </div>

          <hr>


        </form>
    </div>

    <div class="" style="width:80%; margin:0 auto; position:absolute; bottom:0; left:10%;">
        <button class="ui button basic" type="submit" style=" position:absolute; bottom:15px; left:0px;">건너뛰기</button>
        <button onclick="location.href='/m/user'" class="ui button blue" type="submit" style=" position:absolute; bottom:15px; right:0px; color:#fff;">완료<i class="icon chevron right"></i></a> </button>
    </div>



</div>








<!-- Global site tag (gtag.js) - Google Analytics -->

    <script type="text/javascript">


    $(document).ready(function() {


    });

    function move(u) {
        console.log(111);
        // document.location.href=u;
    }


    </script>



</body>
</html>
