<%
var tutorAll = [
    { company: '(주)Acplearn', name: '박길동', gender: '남', phone: '010-0023-3211', category: '안전',  confirm:'확인' , img:"https://semantic-ui.com/images/avatar2/large/matthew.png", date:'2017-01-30'},
    { company: '(주)아카스타', name: '김정환', gender: '남', phone: '010-3222-3420', category: '안전',  confirm:'확인' ,img:'https://semantic-ui.com/images/avatar2/large/elyse.png' , date:'2017-04-22'},
    { company: '네이버', name: '이정민', gender: '여', phone: '010-2334-9928', category: '기술',  confirm: '확인' , img:'https://semantic-ui.com/images/avatar2/large/molly.png', date:'2017-04-22'},
    { company: '부경대학교', name: '박정윤', gender: '여', phone: '010-2003-9929', category: '교육',  confirm: '확인' , img:'https://semantic-ui.com/images/avatar/large/jenny.jpg', date:'2017-04-30'},
    { company: 'Google', name: 'Selly Hong', gender: '여', phone: '010-2332-6666', category: '디자인',  confirm: '확인' ,img:'https://semantic-ui.com/images/avatar/large/helen.jpg', date:'2017-02-22'},
    { company: 'Linkedin', name: 'David Park', gender: '남', phone: '010-5533-4444', category: '경영',  confirm: '확인' ,img:'https://semantic-ui.com/images/avatar/large/steve.jpg', date:'2017-06-01'},
    { company: '부경대학교', name: '박정윤', gender: '여', phone: '010-2003-9929', category: '교육',  confirm: '확인' , img:'https://semantic-ui.com/images/avatar/large/jenny.jpg', date:'2017-09-09'}
];

%>

<!-- <div id="sideNavi" class="three wide column ui vertical menu">
    <a class="item " href="#">강의관리</a>
    <a class="item " href="#">수강신청관리</a>
    <a class="item " href="#">수료관리</a>
    <a class="item " href="#">신청자관리</a>
    <a class="item " href="#">신청이력관리</a>
</div> -->

<div id="content" class="fourteen wide column">
    <h1>강사목록</h1>


<div class="ui secondary  menu" style="padding:0;">
  <a href="/manager/tutors" class="item ">전체(000명)</a>
  <a class="item active">APL강사(00명)</a>
  <a href="/manager/tutors/default" class="item">일반강사(00명)</a>
  <a href="/manager/tutors/remove" class="item">탈퇴강사(00명)</a>

  <div class="right menu" style="padding:0;">
    <div class="item" style="padding:0;">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>




<!-- 리스트 -->
<div class="ui cards grid" style="padding:0;">

    <% tutorAll.forEach(function(tutor, i){ %>
      <div class="four wide column" style="padding:1px;">
          <div class="cardbox " style="margin:8px; padding:25px;">
            <div class="content">
              <img class="right floated mini ui image" src="<%=tutor.img%>">
              <h3 style="margin:5px 0;">
                  <%=tutor.name%>
                  <% if(tutor.confirm !== '-'){ %><a class="ui orange label mini" style="padding: 3px 7px;">APL</a><% }%>
              </h3>
              <div class="meta">소속: <%=tutor.company%></div>
              <div class="meta">분야: <%=tutor.category%></div>
              <div class="meta">자격취득일: <%=tutor.confirm!='-' ? tutor.date:'---'%></div>
              <hr>
              <!-- <div class="description">Elliot requested permission to view your contact details</div> -->
            </div>

              <div class="ui two buttons">
                <div class="ui basic blue button" id="prof">상세보기</div>
              </div>

          </div>
      </div>
  <% }); %>




</div>

<br>
<br>
<div class="" style="text-align:center;">
    <button type="button" class="ui button" style="width:50%; margin: 0 auto;">More</button>
</div>
<br>
<br>
<br>




</div>



<!-- 기업등록 모달 -->
<div class="ui insertCompany modal">
    <i class="close icon"></i>
    <div class="header">강사정보 상세보기</div>
    <div class="content">
        <table class="ui celled table centerLayout">
            <tr>
                <td rowspan="4"><img src="https://semantic-ui.com/images/avatar/small/elliot.jpg" width="85%" alt=""></td>
                <td>이름</td>
                <td>박길동</td>
                <td>나이</td>
                <td>30세</td>
            </tr>
            <tr>
                <td>성별</td>
                <td>남</td>
                <td>연락처</td>
                <td>010-0000-0000</td>
            </tr>
            <tr>
                <td>소속</td>
                <td>(주)비전플랜</td>
                <td>직급</td>
                <td>팀장</td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>vpacplearn@gmail.com</td>
                <td>홈페이지</td>
                <td>https://www.naver.com/a</td>
            </tr>
        </table>
        <br>
        <table class="ui table celled centerLayout">
            <colgroup>
                <col width="15%">
            </colgroup>
            <tr>
                <td>강의분야</td>
                <td>
                    <p>리더십/ 산업안전/ 커뮤니케이션/ 화재안전</p>
                </td>
            </tr>
            <tr>
                <td>학력</td>
                <td>
                    <p>- 2015.03~2017.03 서울대학원</p>
                    <p>- 2012.03~2015.02 한양대학교</p>
                    <p>- 2010.03~2012.02 액션고등학교</p>
                </td>
            </tr>
            <tr>
                <td>주요경력/자격</td>
                <td>
                    <p>- 2015.03~2017.03 (주)비전플랜</p>
                    <p>- 2010.03~2015.03 (주)아카스타</p>
                    <p>- 2008.03~2010.03 (주)블루킹스</p>
                </td>
            </tr>
            <tr>
                <td>수상/저서</td>
                <td>
                    <p>- 2015.03~2017.03 OOO수상</p>
                    <p>- 2010.03~2015.03 XXX수상</p>
                    <p>- 2008.03~2010.03 PPP수상</p>
                </td>
            </tr>
            <tr>
                <td>프로필</td>
                <td>
                    <a href="#">박길동_강사소개서.pdf</a><button type="button" class="button">받기</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="actions">
        <div class="ui black deny button">닫기</div>
    </div>
</div>


<script type="text/javascript">
    $(document).on('click', '#prof', function() {
        $('.ui.insertCompany').modal({duration:100}).modal('show');
    })
</script>
