<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/semantic/semantic.min.js"></script>
  </head>

<style media="screen">
html, body{
    width: 100%;
    height:100%;
    background-color: #f9f9f9;

}
#wrap{
    padding:0;
    background-image: url('/images/newbg.png');
    background-size: cover;
    background-position: center center;
    height: 55%;
}
#mcon{
    width: 100%;
    min-width: 900px;
    margin:0 auto;
    padding:0;
    /*height: 100%;*/
}
    .sloganWrap{
        color:#fff;
        width: 70%;
        margin:0 auto;
        padding:3% 5%;
    }
    .sch{
        width:100%; padding:15px;
        background: rgba(255,255,255,0.07);
        border:1px solid #fff;
        color: #fff;

    }
</style>

  <body>


    <div id="wrap" class="ui grid">


        <!-- <div id="navi" class="sixteen wide column " style="background:rgba(0,0,0,0.44);"> -->
        <div id="navi" class="sixteen wide column " style="background:none; padding: 10px 40px;">
            <h1 id="logo" onclick="move('/home')">Acplearn</h1>

            <%- include('modules/homeNavi')%>
        </div>

        <!--  -->
        <div id="mcon" class="sixteen wide column ">
            <div class="sloganWrap">
                <h2>Acplearn으로 프리미엄 강사가 되어보세요</h2>
                <div class="form">
                    <input type="text" name="" value="" style="" class="sch" placeholder="지역, 분야, 강의명 등으로 검색해 보세요">
                </div>
            </div>
        </div>


    </div>
    <!--  -->
    <div class="ui grid">

        <div class="ten wide column centered ">
            <h3>수강신청</h3>
            <div class="ui grid center" >
                <% for(var ii=1; ii<=4; ii++){ %>
                <div class="eight wide column" style="padding:11px; cursor:pointer;" onclick="move('/home_aplecture_detail')">
                    <div class="cardbox " style="margin:0; box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.07);">
                        <div class="ui pointing below red basic label" style="font-size:0.5em;">NEW</div>
                        <h3 style="margin-top:0;">17년도 1<%=ii%>차 APL 튜터 등록과정</h3>
                        <hr>
                        <p>
                            <b>장소:</b> 비전플랜 부산본사 대강의실<br><b>일시:</b> 2017년 0<%=ii%>월 22일(일)
                        </p>
                    </div>
                </div>
                <% } %>
                <div class="sixteen wide column" style="text-align:center;">
                    <button type="button" class="ui button" style="width:50%;" onclick="move('/home_aplecture')">더 보기</button>
                </div>
            </div>
        </div>


        <div class="ten wide column centered" style="margin-top:45px; padding-bottom:5%">
            <h3 id="serviceIntro">서비스소개</h3>
            <div class="" >
                <div class="" style="width: 33%; text-align:center; display:inline-block;">
                    <img src="http://www.freemoa.net/public/images/dgm/prj_process_01.png" alt="">
                    <h2>Solution</h2>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="" style="width: 33%; text-align:center; display:inline-block;">
                    <img src="http://www.freemoa.net/public/images/dgm/prj_process_02.png" alt="">
                    <h2>Standard</h2>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="" style="width: 33%; text-align:center; display:inline-block;">
                    <img src="http://www.freemoa.net/public/images/dgm/prj_process_03.png" alt="">
                    <h2>Share</h2>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>


        <div class="ten wide column centered " style="margin-top:45px; padding-bottom:5%">
            <h3>이용후기</h3>
            <div class="ui grid" style="padding: 5px;">
                <%
                var rev = [
                    {name : "Kelly", gender: "[수강생]", txt: "“디자인에 대한 전문성이 높고, 디자인 측면에서 코멘트를 많이 해주실 수 있는 디자이너입니다.“"},
                    {name : "David", gender: "[수강생]", txt: "Lorem ipsum dolor sit amet dolor sit a"},
                    {name : "Ahnna", gender: "[강사]", txt: "“일정을 잘 맞춰주셨으며 전문성이 높은 개발자입니다. 작업도 깔끔하게 잘 마무리해주셔서 추천드립니다.“"},
                    {name : "James", gender: "[수강생]", txt: "“최고였습니다. 다른말이 필요 없습니다. “"},
                    {name : "Tom", gender: "[강사]", txt: "“의뢰한 건에 대해 전문성을 가지고 있고, 별다른 말하지 않아도 알아서 잘 진행해주셨습니다. “"},
                    {name : "Mark", gender: "[강사]", txt: "“짧은 기간이지만 미팅에서부터 진행까지 깔끔하게 진행해주셔서 좋았습니다. 직접만나보니 성격도 좋으시고 차분에게 일을 잘처리해주셨습니다.“"},
                    {name : "Gildong", gender: "[강사]", txt: "“의뢰한 건에 대해 전문성을 가지고 있고, 별다른 말하지 않아도 알아서 잘 진행해주셨습니다. “"},
                    {name : "Piter", gender: "[수강생]", txt: "Lorem ipsum dolor sit amet"}
                ];
                rev.forEach(function(r){
                %>
                    <div class="four wide column" style="padding:0;">
                    <div class="cardbox" style="margin:5px; height:150px;">
                        <div class="content">
                          <div class="header"><%=r.name%> <small> <%=r.gender%></small></div>
                        </div>
                        <hr>
                        <div class="">
                            <p><%=r.txt%></p>
                        </div>
                    </div>
                    </div>
                <% }); %>


            </div>
        </div>


    </div>



<% if(user.user.tutor_type=='admin'){ %>
    <!-- 관리자모드 -->
    <button class="ui button" onclick="document.location.href='/manager/notices'" style="width:120px; position:absolute; right:50px; bottom:30px;" type="button">관리자모드</button>
<% } %>



    <script type="text/javascript">

    $(document).ready(function () {
        $('.dropdown').dropdown({maxSelections: 3});
        $('.tooltip').popup();
    });

    function move(ur) {
        document.location.href=ur;
    }

    </script>



  </body>
</html>
