<%- include('../modules/tabmenu')%>
<br>
<div class="" style="padding:3%;">
    <table class="ui table celled unstackable" onclick="location.href='/m/user/planchee/detail'" style="cursor:pointer;">
        <colgroup>
            <col width="15%">
        </colgroup>
        <tr>
            <td rowspan="2"><a class="avatar">
              <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
          </a><br><label>박길동</label></td>

            <td>진행 중 PLAN </td>
            <td>5</td>
            <td>종료 PLAN</td>
            <td>5</td>
        </tr>
        <tr>
            <td>MY 응원 플랜 </td>
            <td>1건 </td>
            <td>MY 평가 플랜 </td>
            <td>1건 </td>
        </tr>
    </table>

<hr>
<% for(var ii=1; ii<=6; ii++){  %>
<div class=" cardbox" onclick="" style="cursor:pointer;">
    <h4>
        <% if(ii%2!=0){ %>
            <div class="ui right pointing orange basic label mini" >1회차</div>
        <% }else{ %>
            <div class="ui right pointing blue basic label mini" >1단계</div>
        <% } %>
        우리회사 감성안전 지킴이 <small>[<%=(ii%3==0? '비공개플랜':'공개플랜')%>]</small>
    </h4>
    <h5>기간: <%=ii%2!=0?'[1회차]':'[1단계]'%> 2017.01.01~2017.01.05
        <% if(ii%3!=0){ %>
        <button type="button" class="button blue ui mini" onclick="location.href='/m/user/planchee/detail/<%=ii%>'">MY평가</button>
        <% }else{ %>
            <% if(ii%3==0) { %>
                <button type="button" class="button red ui mini" onclick="confirm('비공개 플랜입니다')">평가요청 수락</button>
                <% }else{ %>
                    <button type="button" class="button red ui mini" onclick="location.href='/m/user/planchee/detail/<%=ii%>'">평가요청 수락</button>
                <% } %>
        <% } %>
    </h5>

    <div class="ui list">
      <div class="item">
        <label for="">진행률</label>
        <div class="content">
          <div class="ui progress standard">
            <div class="bar">
              <div class="progress"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <label for="">참여율</label>
        <div class="content">
          <div class="ui progress standard">
            <div class="bar">
              <div class="progress"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p>
        <b>다짐글: </b>50
        &nbsp;&nbsp;&nbsp;
        <b>평가글: </b>50
        &nbsp;&nbsp;&nbsp;
        <b>응원글: </b>50
        &nbsp;&nbsp;&nbsp;
        <b>응원자: </b>50
    </p>
</div>
<% } %>
    <br>




</div>




<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        $('.st').rating({
                initialRating: 4,
                maxRating: 5
        });

        $('.ui.checkbox').checkbox();
    });

</script>
