<%
var adminAll = [
    { company: '(주)Acplearn', name: '박길동', department:'운영팀', grade:'팀장', date:'2017-01-01', gender: '남', phone: '010-0023-3211', category: '안전',  confirm:'확인' , img:"https://semantic-ui.com/images/avatar2/large/matthew.png"},
    { company: '(주)아카스타', name: '김정환', department:'운영팀', grade:'대리', date:'2015-05-23', gender: '남', phone: '010-3222-3420', category: '안전',  confirm:'확인' ,img:'https://semantic-ui.com/images/avatar2/large/elyse.png' },
    { company: '네이버', name: '이정민', department:'운영팀', grade:'사원', date:'2017-04-22', gender: '여', phone: '010-2334-9928', category: '기술',  confirm: '확인' , img:'https://semantic-ui.com/images/avatar2/large/molly.png'},
    { company: '부경대학교', name: '박정윤', department:'개발팀', grade:'대리', date:'2017-09-09', gender: '여', phone: '010-2003-9929', category: '교육',  confirm: '확인' , img:'https://semantic-ui.com/images/avatar/large/jenny.jpg'},
    { company: 'Google', name: 'Selly Hong', department:'개발팀', grade:'사원', date:'2015-12-12', gender: '여', phone: '010-2332-6666', category: '디자인',  confirm: '확인' ,img:'https://semantic-ui.com/images/avatar/large/helen.jpg'},
    { company: 'Linkedin', name: 'David Park', department:'디자인팀', grade:'팀장', date:'2013-11-30', gender: '남', phone: '010-5533-4444', category: '경영',  confirm: '확인' ,img:'https://semantic-ui.com/images/avatar/large/steve.jpg'},
    { company: '부경대학교', name: '박정윤', department:'경영', grade:'대표', date:'2013-10-22', gender: '여', phone: '010-2003-9929', category: '교육',  confirm: '확인' , img:'https://semantic-ui.com/images/avatar/large/jenny.jpg'}
];

%>

<div id="content" class="fourteen wide column">
    <h1>강사목록</h1>


<!-- 검색 -->
<div class="ui secondary  menu" style="padding:0;">
  <div class="left menu" style="padding:0;">
    <div class="item" style="padding:0;">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

<table class="ui celled table">
    <colgroup>
        <col width="5%">
        <!-- <col width="15%">
        <col width="15%">
        <col width="10%">
        <col width="14%">
        <col width="14%"> -->
    </colgroup>
    <thead>
    <tr>
      <th>no</th>
      <th class="center aligned">이름</th>
      <th class="center aligned">가입일</th>
      <th class="center aligned">연락처</th>
      <th class="center aligned">부서</th>
      <th class="center aligned">직급</th>
    </tr>
    </thead>
    <tbody>
    <% adminAll.forEach(function(admin , ii){ %>
    <tr>
      <td><%=ii+1%></td>
      <td class="center aligned"><a href="#" id="prof"><%=admin.name%></a></td>
      <td class="center aligned"><%=admin.date%></td>
      <td class="center aligned"><%=admin.phone%></td>
      <td class="center aligned"><%=admin.department%></td>
      <td class="center aligned"><%=admin.grade%></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<br>
<div class="ui two column centered grid">
  <div class="ui centered pagination menu">
          <a class="icon item">
            <i class="left chevron icon"></i>
          </a>
          <a class="item">1</a>
          <a class="item">2</a>
          <a class="item">3</a>
          <a class="item">4</a>
          <a class="icon item">
            <i class="right chevron icon"></i>
          </a>
        </div>

</div>
<br>


</div>


<!-- 기업등록 모달 -->
<div class="ui insertCompany modal">
    <i class="close icon"></i>
    <div class="header">관리자정보 상세보기</div>
    <div class="content">
        <table class="ui celled table centerLayout">
            <tr>
                <td rowspan="4"><img src="https://semantic-ui.com/images/avatar/small/elliot.jpg" width="85%" alt=""></td>
                <td>이름</td>
                <td>박길동</td>
                <td>나이</td>
                <td>30세</td>
            </tr>
            <tr>
                <td>성별</td>
                <td>남</td>
                <td>연락처</td>
                <td>010-0000-0000</td>
            </tr>
            <tr>
                <td>소속</td>
                <td>(주)비전플랜</td>
                <td>직급</td>
                <td>팀장</td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>vpacplearn@gmail.com</td>
                <td>홈페이지</td>
                <td>https://www.naver.com/a</td>
            </tr>
        </table>
        <br>
    </div>
    <div class="actions">
        <div class="ui black deny button">닫기</div>
    </div>
</div>



<script type="text/javascript">
    $(document).on('click', '#prof', function() {
        $('.ui.insertCompany').modal({duration:100}).modal('show');
    })
</script>
