<%- include('../modules/tabmenu')%>
<!-- 탭메뉴 -->
<div id="subtab" class="ui five item menu tabmenu attached " style="margin:0; border-color:#f1f1f1; text-align:center; ">
    <a data-tab="p1" class="item active" style="padding:20px;"><i class="video play outline icon"></i>강의진행</a>
    <a data-tab="p2" class="item " style="padding:20px;"><i class="users icon"></i>팀</a>
    <a data-tab="p3" class="item " style="padding:20px;"><i class="checked calendar icon"></i>플래닝</a>
    <a data-tab="p4" class="item" style="padding:20px;"><i class="line chart icon"></i>리포트</a>
    <a data-tab="p5" class="item" style="padding:20px;"><i class="line browser icon"></i>설문</a>
</div>




    <!-- 탭 본문 -->
    <div class="ui bottom attached active tab segment" data-tab="p1">
    <%- include('tab01')%>
    </div>

    <!-- 탭 본문 -->
    <div class="ui bottom attached tab segment" data-tab="p2">
    <%- include('tab02')%>
    </div>

    <!-- 탭 본문 -->
    <div class="ui bottom attached tab segment" data-tab="p3">
    <%- include('tab03')%>
    </div>

    <!-- 탭 본문 -->
    <div class="ui bottom attached tab segment" data-tab="p4">
    <%- include('tab04')%>
    </div>

    <!-- 탭 본문 -->
    <div class="ui bottom attached tab segment" data-tab="p5">
    <%- include('tab05')%>
    </div>











<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">

Highcharts.createElement('link', {
   href: 'https://fonts.googleapis.com/css?family=Dosis:400,600',
   rel: 'stylesheet',
   type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);

Highcharts.theme = {
   colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
      '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
   chart: {
      backgroundColor: null,
      style: {
         fontFamily: 'Dosis, sans-serif'
      }
   },
   title: {
      style: {
         fontSize: '16px',
         fontWeight: 'bold',
         textTransform: 'uppercase'
      }
   },
   tooltip: {
      borderWidth: 0,
      backgroundColor: 'rgba(219,219,216,0.8)',
      shadow: false
   },
   legend: {
      itemStyle: {
         fontWeight: 'bold',
         fontSize: '12px'

      }
   },
   xAxis: {
      gridLineWidth: 1,
      labels: {
         style: {
            fontSize: '15px'
         }
      }
   },
   yAxis: {
      minorTickInterval: 'auto',
      title: {
         style: {
            textTransform: 'uppercase'
         }
      },
      labels: {
         style: {
            fontSize: '13px'
         }
      }
   },
   plotOptions: {
      candlestick: {
         lineColor: '#404048'
      }
   },


   // General
   background2: '#F0F0EA'

};



// Apply the theme
Highcharts.setOptions(Highcharts.theme);
var opt = {
    title: {
        text: ''
    },
    credits: {
        enabled: false
    },
    xAxis: {
        title:{
            enabled:false
        },
        categories: ['1차', '2차', '3차', '4차']
    },
    labels: {
        enabled:false,
        items: [{
            // html: 'Total fruit consumption<b>123</b>',
            style: {
                left: '50px',
                top: '18px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    series: [{
        type: 'column',
        name: '자가평가',
        data: [1.5, 3.5, 1.5, 4, 4, 1.5]
    }, {
        type: 'column',
        name: '팀평가',
        data: [0, 4.5, 1.5, 4, 2.5, 2.5]
    }, {
        type: 'spline',
        name: 'Gap',
        data: [0, 4.5, 1.5, 4, 2.5, 2.5],
        marker: {
            lineWidth: 2,
            lineColor: Highcharts.getOptions().colors[3],
            fillColor: 'white'
        }
    }]
}


Highcharts.chart('container3', opt);


</script>

<!--  -->
