<div id="content" class="fourteen wide column">


<h1 class="ui header">2017년 3차 APL자격 취득 강사 양성교육</h1>
    <table class="ui celled table">
        <colgroup>
            <col width="12%;">
            <col width="38%;">

            <col width="12%;">
            <col width="38%;">
        </colgroup>
        <tbody>
            <tr>
                <td>강의기간</td>
                <td>2018년 01월05일 ~ 2018년 01월 08일</td>
                <td>시간</td>
                <td>3일 12H / 매일 13:00~17:00</td>
            </tr>
            <tr>
                <td>금액</td>
                <td>2,500,000원</td>
                <td>정원</td>
                <td>55명</td>
            </tr>
            <tr>
                <td>장소</td>
                <td colspan="3">부산광역시 남구 수영대로 99-1 부산본사</td>
            </tr>
        </tbody>
    </table>
<!-- <hr> -->



    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="tab01">강의내용</a>
        <a class="item " data-tab="tab03">신청자관리</a>
    </div>


    <!-- TAB -->
    <div class="ui bottom attached tab segment active" data-tab="tab01">
        <h3>강의명</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br>

        <h3>수강요건</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br>

        <h3>오시는길</h3>
        <div class="">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.8602444645694!2d129.08969731534756!3d35.135160980325196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3568ecf52b9112eb%3A0xcb01e20e7a776100!2z64yA7Jew7Jet!5e0!3m2!1sko!2skr!4v1510895998894" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

         

    </div>




    <!-- TAB -->
    <div class="ui bottom attached tab segment" data-tab="tab03">
        <!-- 검색 -->
        <div class="ui secondary  menu" style="padding:0;">
          <div class="left menu" style="padding:0;">
            <div class="item" style="padding:0;">
              <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
            </div>
          </div>
        </div>



        <table class="ui celled table">
            <thead>
            <tr>
              <th>no</th>
              <th class="center aligned">소속</th>
              <th class="center aligned">이름</th>
              <th class="center aligned">성별</th>
              <th class="center aligned">연락처</th>
              <th class="center aligned">강의분야</th>
              <th class="center aligned">주요경력/자격</th>
              <th class="center aligned">결제확인</th>
              <th class="center aligned">수료</th>
            </tr>
            </thead>
            <tbody>
            <%
            var list = [
                { company: '(주)Acplearn', name: '박길동', gender: '남', phone: '010-0023-3211', category: '안전', career: '2015.05 ~ 2017.09 (주)아카스타 외 10건', confirm:'확인' },
                { company: '(주)아카스타', name: '김정환', gender: '남', phone: '010-3222-3420', category: '안전', career: '2017.09 산업안전 교육 석사 외 7건', confirm:'확인' },
                { company: '네이버', name: '이정민', gender: '여', phone: '010-2334-9928', category: '기술', career: '2011.05 ~ 2015.09 카카오 외 11건', confirm: '확인' },
                { company: '부경대학교', name: '박정윤', gender: '여', phone: '010-2003-9929', category: '교육', career: '2015.05 ~ 2017.09 (주)아카스타 외 8건', confirm: '확인' },
                { company: '부경대학교', name: '김민수', gender: '남', phone: '010-2323-4883', category: '교육', career: '2015.05 ~  부경대학교 교수 외 5건', confirm: '-' },
                { company: '경성대학교', name: '방성민', gender: '남', phone: '010-6334-0993', category: '기술', career: '2015.05 ~ 2017.09 해양대학교 교수 외 10건', confirm: '-' },
                { company: 'Google', name: 'Selly Hong', gender: '여', phone: '010-2332-6666', category: '디자인', career: '2012.05 ~ 2015.09 Google 외 10건', confirm: '확인' },
                { company: 'Linkedin', name: 'David Park', gender: '남', phone: '010-5533-4444', category: '경영', career: '2015.05 ~ (주)아카스타 외 10건', confirm: '확인' }
            ];
            list.forEach(function(l, i){ %>
            <tr>
              <td><%=i+1%></td>
              <td class="center aligned"><%=l.company%></td>
              <td class="center aligned"><a href="#" id="prof"><%=l.name%></a></td>
              <td class="center aligned"><%=l.gender%></td>
              <td class="center aligned"><%=l.phone%></td>
              <td class="center aligned"><%=l.category%></td>
              <td class="left aligned"><%=l.career%></td>
              <td class="center aligned"><%=l.confirm%></td>
              <td class="center aligned">
                 <input type="radio" name="aac<%=i%>" value="1">미수료
                 <input type="radio" name="aac<%=i%>" value="2">수료
              </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
        <br>

        <div class="ui two column centered grid">
          <div class="ui centered pagination menu">
                  <a class="icon item">
                    <i class="left chevron icon"></i>
                  </a>
                  <a class="item">1</a>
                  <a class="item">2</a>
                  <a class="item">3</a>
                  <a class="item">4</a>
                  <a class="icon item">
                    <i class="right chevron icon"></i>
                  </a>
                </div>
                <a onclick="confirm('선택하신 신청자들을 수료여부를 변경하시겠습니까?')">
                <div class="ui  animated button" tabindex="0" style="position:absolute; right:10px; height:40px; background:#4374D9; color: #fff;">
                  <div class="visible content ">선택한 수강생 선발</div>
                  <div class="hidden content">
                    <i class="right arrow icon"></i>
                  </div>
                </div></a>
        </div>
        <br>
    </div>




<!-- BTNs -->
<div class="two wide column">
    <button type="button" class="ui primary button">강의내용수정</button>
    <button type="button" class="ui button">삭제</button>
</div>




<!-- 기업등록 모달 -->
<div class="ui insertCompany modal">
    <i class="close icon"></i>
    <div class="header">강사정보 상세보기</div>
    <div class="content">
        <table class="ui celled table centerLayout">
            <tr>
                <td rowspan="4"><img src="https://semantic-ui.com/images/avatar/small/elliot.jpg" width="85%" alt=""></td>
                <td>이름</td>
                <td>박길동</td>
                <td>나이</td>
                <td>30세</td>
            </tr>
            <tr>
                <td>성별</td>
                <td>남</td>
                <td>연락처</td>
                <td>010-0000-0000</td>
            </tr>
            <tr>
                <td>소속</td>
                <td>(주)비전플랜</td>
                <td>직급</td>
                <td>팀장</td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>vpacplearn@gmail.com</td>
                <td>홈페이지</td>
                <td>https://www.naver.com/a</td>
            </tr>
        </table>
        <br>
        <table class="ui table celled centerLayout">
            <colgroup>
                <col width="15%">
            </colgroup>
            <tr>
                <td>강의분야</td>
                <td>
                    <p>리더십/ 산업안전/ 커뮤니케이션/ 화재안전</p>
                </td>
            </tr>
            <tr>
                <td>학력</td>
                <td>
                    <p>- 2015.03~2017.03 서울대학원</p>
                    <p>- 2012.03~2015.02 한양대학교</p>
                    <p>- 2010.03~2012.02 액션고등학교</p>
                </td>
            </tr>
            <tr>
                <td>주요경력/자격</td>
                <td>
                    <p>- 2015.03~2017.03 (주)비전플랜</p>
                    <p>- 2010.03~2015.03 (주)아카스타</p>
                    <p>- 2008.03~2010.03 (주)블루킹스</p>
                </td>
            </tr>
            <tr>
                <td>수상/저서</td>
                <td>
                    <p>- 2015.03~2017.03 OOO수상</p>
                    <p>- 2010.03~2015.03 XXX수상</p>
                    <p>- 2008.03~2010.03 PPP수상</p>
                </td>
            </tr>
            <tr>
                <td>프로필</td>
                <td>
                    <a href="#">박길동_강사소개서.pdf</a><button type="button" class="button">받기</button>
                </td>
            </tr>
        </table>
        <br>
        <div class="ui form right">
            <div class="inline fields">
                <label for="fruit">선발여부</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit" checked="" tabindex="0" class="hidden"><label>미수료</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit" tabindex="0" class="hidden"><label>수료</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="actions">
        <div class="ui black deny button">닫기</div>
        <div class="ui positive right labeled icon button">
            등록하기<i class="checkmark icon"></i>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('.menu .item').tab();
    $(document).on('click', '#prof', function() {
        $('.ui.insertCompany').modal({duration:100}).modal('show');
    })
</script>


</div>
