<%
var aplActivity = [
    {
        date: '2017.01.01', learningDate: '2017.01.01 ~ 2017.01.05', tutor: '박길동', phone: '010-2332-0003', count: 35,
        lectureName: '우리회사 감성안전 지킴이',
        lectureTime: '13시간 (3일)',
        confirm: '결제'
    },
    {
        date: '2017.11.01', learningDate: '2017.04.21 ~ 2017.05.15', tutor: '박정윤', phone: '010-1332-2003', count: 45,
        lectureName: '안전불감증 해소를 위한 감성안전교육',
        lectureTime: '13시간 (3일)',
        confirm: '결제'
    },
    {
        date: '2017.01.01', learningDate: '2017.11.01 ~ 2017.11.25', tutor: '김민준', phone: '010-6232-5003', count: 50,
        lectureName: '실내 안전 실습교육',
        lectureTime: '18시간 (6일)',
        confirm: '결제'
    },
    {
        date: '2017.01.01', learningDate: '2017.11.01 ~ 2017.11.05', tutor: '박수빈', phone: '010-7332-9903', count: 20,
        lectureName: '우리회사 감성안전 지킴이',
        lectureTime: '13시간 (3일)',
        confirm: '미결제'
    },
    {
        date: '2017.01.01', learningDate: '2017.01.01 ~ 2017.01.05', tutor: '박길동', phone: '010-2332-0003', count: 35,
        lectureName: '우리회사 감성안전 지킴이',
        lectureTime: '13시간 (3일)',
        confirm: '결제'
    },
    {
        date: '2017.01.01', learningDate: '2017.11.01 ~ 2017.11.25', tutor: '김민준', phone: '010-6232-5003', count: 50,
        lectureName: '실내 안전 실습교육',
        lectureTime: '18시간 (6일)',
        confirm: '결제'
    },
    {
        date: '2017.01.01', learningDate: '2017.11.01 ~ 2017.11.05', tutor: '박수빈', phone: '010-7332-9903', count: 20,
        lectureName: '우리회사 감성안전 지킴이',
        lectureTime: '13시간 (3일)',
        confirm: '미결제'
    },
    {
        date: '2017.01.01', learningDate: '2017.01.01 ~ 2017.01.05', tutor: '박길동', phone: '010-2332-0003', count: 35,
        lectureName: '우리회사 감성안전 지킴이',
        lectureTime: '13시간 (3일)',
        confirm: '결제'
    }

];
%>

<div id="content" class="fourteen wide column">
    <h1>APL_Activity</h1>


<!-- 검색 -->
<div class="ui secondary  menu" style="padding:0;">
  <a href="/manager/activity" class="item ">Activity 승인관리</a>
  <a href="/manager/activity/opened" class="item ">개설중 과정</a>
  <a href="/manager/activity/ing" class="item ">강의진행중 과정</a>
  <a class="item active">강의완료 과정</a>
  <a href="/manager/activity/apltutor" class="item ">APL_Tutor 별</a>
  <a href="/manager/activity/company" class="item ">기업(수강생)현황</a>
  <a href="/manager/activity/kpi" class="item ">ActionKPI 관리/통계</a>
  <a href="/manager/activity/survey" class="item ">설문관리</a>
  <a href="/manager/activity/tutor" class="item ">강사</a>
  <a href="/manager/activity/default" class="item ">통계</a>

  <!-- <div class="right menu" style="padding:0;">
    <div class="item" style="padding:0;">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div> -->
</div>
<hr>



<!-- 리스트 -->
<h3>강의완료 과정 [00과정]</h3>
<!-- 검색 -->
<div class="ui secondary  menu" style="padding:0;">
  <div class="item form">
      <select class="" name="">
          <option value="">년도(전체)</option>
          <% for(var oo=2017; oo>=2000; oo--){ %>
          <option value="<%=oo%>"><%=oo%>년</option>
          <% } %>
      </select>
  </div>
  <div class="left menu" style="padding:0;">
    <div class="item" style="padding:0;">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>


<table class="ui single line table celled selectable">

    <thead>
        <tr>
            <th>No</th>
            <th>APL Tutor</th>
            <th>액션러닝기간</th>
            <th>강의명</th>
            <th>강의시간</th>
            <th>인원</th>
            <th>연락처</th>
            <th>관리</th>
        </tr>
    </thead>
    <tbody>
    <% aplActivity.forEach(function(apl, ii){ %>
        <tr onclick="move('/manager/activity/opened2')">
            <td><%=ii%></td>
            <td><%=apl.tutor%></td>
            <td><%=apl.learningDate%></td>
            <td><a href="/manager/activity/opened2"><%=apl.lectureName%></a></td>
            <td><%=apl.lectureTime%></td>
            <td><%=apl.count%></td>
            <td><%=apl.phone%></td>
            <td>
                <button type="button" class="button"  >보기</button>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>
<br>
<div class="ui two column centered grid">
  <div class="ui centered pagination menu">
          <a class="icon item">
            <i class="left chevron icon"></i>
          </a>
          <a class="item">1</a>
          <a class="item">2</a>
          <a class="item">3</a>
          <a class="item">4</a>
          <a class="icon item">
            <i class="right chevron icon"></i>
          </a>
        </div>


</div>




</div>





<!-- 기업등록 모달 -->
<div class="ui insertCompany modal">
    <i class="close icon"></i>
    <div class="header">강의승인</div>
    <div class="content">

        <table class="ui single line table celled">
            <tr>
                <td>APL강사명</td>
                <td>APL강사명</td>
            </tr>
            <tr>
                <td>강의명</td>
                <td>강의명</td>
            </tr>
            <tr>
                <td>액션플랜러닝기간</td>
                <td>액션플랜러닝기간</td>
            </tr>
            <tr>
                <td>결제여부</td>
                <td>결제여부</td>
            </tr>
            <tr>
                <td>비고</td>
                <td>비고</td>
            </tr>
        </table>

    </div>
    <div class="actions">
        <div class="ui black deny button">닫기</div>
    </div>
</div>


<script type="text/javascript">
    $(document).on('click', '#prof', function() {
        $('.ui.insertCompany').modal({duration:100}).modal('show');
    })
</script>
