<!-- <div id="sideNavi" class="three wide column ui vertical menu">
    <a class="item " href="#">강의관리</a>
    <a class="item " href="#">수강신청관리</a>
    <a class="item " href="#">수료관리</a>
    <a class="item " href="#">신청자관리</a>
    <a class="item " href="#">신청이력관리</a>
</div> -->

<div id="content" class="fourteen wide column">
    <h1>APL_Activity</h1>


<!-- 검색 -->
<div class="ui secondary  menu" style="padding:0;">
  <a href="/manager/activity" class="item ">Activity 승인관리</a>
  <a href="/manager/activity/opened" class="item ">개설중 과정</a>
  <a href="/manager/activity/ing" class="item ">강의진행중 과정</a>
  <a href="/manager/activity/complete" class="item ">강의완료 과정</a>
  <a href="/manager/activity/apltutor" class="item ">APL_Tutor 별</a>
  <a class="item active">기업(수강생)현황</a>
  <a href="/manager/activity/kpi" class="item ">ActionKPI 관리/통계</a>
  <a href="/manager/activity/survey" class="item ">설문관리</a>
  <a href="/manager/activity/tutor" class="item ">강사</a>
  <a href="/manager/activity/default" class="item ">통계</a>
</div>
<hr>
<br>



<div class="thirteen wide column centered">


<h1 class="ui header">
    <div class="ui right pointing red basic label"> 종료</div>감성안전을 위한 우리조직 안전리더십 개발
</h1>
    <table class="ui celled table">
        <colgroup>
            <col width="10%;">
            <col width="45%;">

            <col width="10%;">
            <col width="35%;">
        </colgroup>
        <tbody>
            <tr>
                <td>강의기간</td>
                <td>2018년 01월05일 ~ 2018년 01월 08일</td>
                <td>시간</td>
                <td>매일 13:00~17:00</td>
            </tr>
            <tr>
                <td>장소</td>
                <td>부산광역시 남구 수영대로 99-1 부산본사</td>
                <td>강의시간</td>
                <td>4일 25시간</td>
            </tr>
            <tr>
                <td>참여기업</td>
                <td>(주)아카스타, 블루킹스, 비전플랜</td>
                <td>인원</td>
                <td>55명</td>
            </tr>
        </tbody>
    </table>
<!-- <hr> -->





<!-- TAB MENU -->
<div class="ui top attached tabular menu">
  <a class="item active" data-tab="tab01">개요</a>
  <a class="item " data-tab="tab02">기간/일정</a>
  <a class="item" data-tab="tab03">수강생</a>
  <a class="item" data-tab="tab04">교육진행</a>
  <a class="item" data-tab="groupScore">참여점수</a>
  <a class="item" data-tab="tab05">설문결과</a>
  <a class="item" data-tab="tab06">액션리포트</a>
  <!-- <a class="item" data-tab="tab07">강사정보</a> -->
</div>




<!-- TAB 01 -->
<div class="ui bottom attached tab segment active" data-tab="tab01">
    <h4>강의목적</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    <h4>주요강의내용</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    <h4>기대효과</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    <h4>강의 역량지표</h4>
    <p>
        <a class="ui label large">리더십</a>
        <a class="ui label large">커뮤니케이션</a>
        <a class="ui label large">산업안전</a>
        <a class="ui label large">CS</a>
    </p>
    <br>
    <h4>오시는길</h4>
    <div class="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.8602444645694!2d129.08969731534756!3d35.135160980325196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3568ecf52b9112eb%3A0xcb01e20e7a776100!2z64yA7Jew7Jet!5e0!3m2!1sko!2skr!4v1510895998894" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>



<!-- TAB 02 -->
<div class="ui bottom attached tab segment " data-tab="tab02">
    <h3>강의정보</h3>
    <table class="ui table celled">
        <tr>
            <td>주제</td>
            <td>감성안전을 위한 우리조직 안전리더십 개발</td>
        </tr>
        <tr>
            <td>액션러닝 기간</td>
            <td>2017년 03월 10일(월) ~ 2017년 05월 22일(목) 총 20일</td>
        </tr>
        <tr>
            <td>교육시간</td>
            <td>16시간 00분(4회차)</td>
        </tr>
        <tr>
            <td>장소</td>
            <td>부산광역시 남구 수영대로 99-1 액플런 부산본사</td>
        </tr>
        <tr>
            <td>교육일자</td>
            <td>
                <p>1회 - 2017년 03월 10일(월) (4시간)</p>
                <p>2회 - 2017년 03월 20일(월) (4시간)</p>
                <p>3회 - 2017년 04월 10일(월) (4시간)</p>
                <p>4회 - 2017년 04월 20일(월) (4시간)</p>
            </td>
        </tr>
    </table>

    <br>

    <h3>상세일정</h3>
    <% for(var ii=1; ii<=4; ii++){ %>
    <table class="ui table celled structured">
        <colgroup>
            <col width="10%"><col width="15%"><col width="60%"><col width="15%">
        </colgroup>
        <tr>
            <td rowspan="4"><%=ii%>회차</td>
            <td colspan="3">
                <span style="font-size:1.2em; font-weight:bold;">안전과 우리회사의 관계</span>
                <br>2017년 08월 25일 09:00 ~ 17:00 (총 8시간)
            </td>
        </tr>
            <tr>
                <td >09:00 ~ 10:00</td>
                <td >강의 안내 및 안전교육</td>
                <td >강의, 토론</td>
            </tr>
            <tr>
                <td >10:00 ~ 12:00</td>
                <td >액플런 기초 환경설정 및 강의개설 실습</td>
                <td >토론, 미션</td>
            </tr>
            <tr>
                <td >13:00 ~ 16:00</td>
                <td >강의개설 실습 및 모의강의 실습</td>
                <td >미션</td>
            </tr>
    </table>
    <br>
    <% } %>
</div>


<!-- TAB 03 -->
<div class="ui bottom attached tab segment" data-tab="tab03">
    <h3>전체 출석률</h3>
    <div class="">
        <table class="ui celled table">
            <colgroup>
                <col width="15%">
                <col width="65%">
                <col width="35%">
            </colgroup>
            <tr>
                <td>1차 - 총 145명</td>
                <td>
                    <div class="ui olive progress" style="margin:0;"><div style="width:96%;" class="bar">95%</div></div>
                </td>
                <td rowspan="4" style="text-align:center;">
                    <div class="ui statistic">
                      <div class="label">평균 출석률</div>
                      <div class="value">94%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2차 - 총 125명</td>
                <td><div class="ui olive progress" style="margin:0;"><div style="width:92%;" class="bar">95%</div></div></td>
            </tr>
            <tr>
                <td>3차 - 총 136명</td>
                <td><div class="ui olive progress" style="margin:0;"><div style="width:86%;" class="bar">95%</div></div></td>
            </tr>
            <tr>
                <td>4차 - 총 142명</td>
                <td><div class="ui olive progress" style="margin:0;"><div style="width:91%;" class="bar">95%</div></div></td>
            </tr>
        </table>
    </div>

    <br><h3>수강생</h3>
    <div class="">
        <table class="ui celled table">
            <colgroup>
                <col width="17%">
                <col width="13%">
                <col width="10%">
                <col width="13%">
                <col width="15%">
                <!-- <col width="10%">
                <col width="10%"> -->
            </colgroup>
            <thead>
                <tr>
                    <th colspan="10">
                        <select class="ui fluid dropdown">
                            <option value="">전체 (150명)</option>
                            <option value="AL">전체 (150명)</option>
                            <option value="AK">비전플랜 (50명)</option>
                            <option value="AZ">(주)아카스타 (35명)</option>
                            <option value="AR">블루킹스 (65명)</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th rowspan="2">소속</th>
                    <th rowspan="2">부서</th>
                    <th rowspan="2" class="center aligned">직급</th>
                    <th rowspan="2" class="center aligned">이름</th>
                    <th rowspan="2" class="center aligned">연락처</th>
                    <th rowspan="2" class="center aligned">강의그룹</th>
                    <th class="center aligned" colspan="3">출석</th>
                    <th rowspan="2" class="center aligned">참석률</th>
                </tr>
                <tr>
                    <th class="center aligned" >1차</th>
                    <th class="center aligned" >2차</th>
                    <th class="center aligned" >3차</th>
                </tr>
            </thead>
            <tbody>
            <% for(var ii=0; ii<10; ii++){ %>
            <tr>
                  <td>비전플랜</td>
                  <td>개발부</td>
                  <td class="center aligned">팀장</td>
                  <td class="center aligned">박길동</td>
                  <td class="center aligned">010-0102-2223</td>
                  <td class="center aligned">2조</td>
                  <td class="center aligned"><input type="checkbox" name="" value="" checked></td>
                  <td class="center aligned"><input type="checkbox" name="" value="" checked></td>
                  <td class="center aligned"><input type="checkbox" name="" value=""></td>
                  <td class="center aligned">75%</td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <br>
        <div class="ui two column centered grid">
          <div class="ui centered pagination menu">
                  <a class="icon item">
                    <i class="left chevron icon"></i>
                  </a>
                  <a class="item">1</a>
                  <a class="item">2</a>
                  <a class="item">3</a>
                  <a class="item">4</a>
                  <a class="icon item">
                    <i class="right chevron icon"></i>
                  </a>
                </div>
        </div>
        <br>
    </div>

</div>



<!-- TAB 04 -->
<div class="ui bottom attached tab segment" data-tab="tab04">

                <h3>회차선택</h3>
                <div class="ui form">
                  <div class="field">
                      <div class="ui selection dropdown">
                          <input type="hidden" name="gender">
                          <i class="dropdown icon"></i>
                          <div class="default text">전체</div>
                          <div class="menu">
                              <div class="item" data-value="0">전체</div>
                              <div class="item" data-value="1">1회 - 우리 회사에서 일어날 수 있는 안전 불감증에 대해 확인해보자</div>
                              <div class="item" data-value="2">2회 - 안전을 위해 해야할 일</div>
                          </div>
                      </div>
                  </div>
                </div>



                <br>
                <h2>1회차: 우리 회사에서 일어날 수 있는 안전 불감증에 대해 확인해보자</h2>
                <p><b>강의시간</b> 09:00 ~ 17:00 (총 8시간00분)</p>
                <hr><br>

                <% for(var ii=0; ii<=2; ii++){ %>
                <table class="ui table celled">
                    <colgroup>
                        <col width="10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <td>주제</td>
                        <td>산업안전이 미치는 영향</td>
                    </tr>
                    <tr>
                        <td>강의시간</td>
                        <td> 09:00 ~ 12:00 (3시간 00분)</td>
                    </tr>
                    <tr>
                        <td>강의내용</td>
                        <td>
                            <ul class="timetable-lectureModules">
                                <li>
                                    <div class="ui right pointing green basic label">토론 </div>
                                    <span>내 주변에서 일어날 수 있는 안전사례 </span>
                                </li>
                                <li>
                                    <div class="ui right pointing blue basic label">강의 </div>
                                    <span>우리나라의 산업안전과 나의 현실</span>
                                </li>
                                <li>
                                    <div class="ui right pointing orange basic label">미션 </div>
                                    <span>실내 안전교육</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>활동</td>
                        <td >
                            <h4>활동사진></h4>
                            <div class="ui grid">
                                <% for(var jj=0; jj<4; jj++){ %>
                                <div class=" four wide column">
                                    <p>박길동(<%=(jj%2==0?'강사':'수강생')%>) 09:22
                                        <% if(jj%2==0){ %>
                                        <button type="button" class="ui inverted red mini button" onclick="confirm('삭제하시겠습니까?')" style="padding:3px 5px;">삭제</button>
                                        <% }%>
                                    </p>
                                    <img class="" width="100%" height="135" src="<%=(jj%2==0?'http://www.kjtimes.net/news/photo/201608/81785_44356_1913.jpg':'http://newsi.ivyro.net/wp-content/uploads/2017/03/%EA%BE%B8%EB%AF%B8%EA%B8%B0_%EC%82%AC%EB%B3%B8-17.03.13.-%EC%8B%A4%EB%B2%84%EA%B2%BD%EC%B0%B0%EB%B4%89%EC%82%AC%EB%8C%80-%EA%B5%90%ED%86%B5%EC%95%88%EC%A0%84%EA%B5%90%EC%9C%A1-2.jpg')%>">
                                    <p style="padding: 5px;"><%=(jj%2==0?'실내 안전교육 실습':'강의가 정말 재미있습니다~')%></p>
                                </div>
                                <% } %>
                                <br>
                            </div>
                            <h4>토론></h4>
                            <table class="table ui celled">
                                <tr>
                                    <td style="width:6%;">주제</td>
                                    <td>나의 주위에서 일어 날 수 있는 안전 사례</td>
                                </tr>
                                <tr>
                                    <td colspan="2"> 나의 주위에서 일어나고 있는 안전 사례를 조별로 토의하고, 서로 발표하도록 합니다.</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>피드백</td>
                        <td >
                            <% for(var hh=0; hh<=3; hh++){ %>
                            <p><b>박길O</b>[10:23] -  안전 불감증이 너무 만연해 있는것 같네요 </p>
                            <% } %>
                        </td>
                    </tr>
                </table>
                <br>
                <% } %>

                <br>
</div>



<!-- TAB groupScore -->
<div class="ui bottom attached tab segment" data-tab="groupScore">
        <table class="ui table celled">
            <thead>
                <th>팀정보</th>
                <th>기업</th>
                <th>부서</th>
                <th>직급</th>
                <th>이름</th>
                <th>점수</th>
            </thead>
            <tbody>
            <% for(jj=0; jj<=5; jj++){ %>
            <% for(ii=0; ii<=5; ii++){ %>
            <tr>
                <% if(ii==0){ %>
                <td rowspan="6">
                    <h4><%=jj+1%>조</h4>
                    <p>팀점수: 25점</p>
                    <p>팀점수: 30점</p>
                    <p>합계: 55점</p>
                </td>
                <% } %>
                <td style="border-left:1px solid #f2f2f2;">(주)비전플랜</td>
                <td>경영팀</td>
                <td>팀장</td>
                <td>박길O</td>
                <td>5점</td>
            </tr>
            <% }%>
            <% }%>
            </tbody>
        </table>
            <br>
</div>





<!-- TAB 05 -->
<div class="ui bottom attached tab segment" data-tab="tab05">

                <h3>설문정보</h3>
                <table class="ui celled table">
                    <colgroup>
                        <col width="12%;">
                        <col >
                        <col width="12%;">
                        <col >
                        <col width="12%;">
                        <col >
                    </colgroup>
                    <tbody>
                        <tr>
                            <td><b>문항수</b></td>
                            <td>15개</td>
                            <td><b>응답자수</b></td>
                            <td>135명</td>
                            <td><b>참여율</b></td>
                            <td>85%</td>
                        </tr>
                    </tbody>
                </table>
                <br>

                <h3>설문</h3>
                <% for(var ii=0; ii<2; ii++){ %>
                <table class="ui table celled">
                    <colgroup>
                        <col width="14%">
                        <col width="35%">
                    </colgroup>
                    <thead>
                    <tr>
                        <td>문항</td>
                        <td colspan="2">본 교육에서 불편한 점이 있었다면 무엇입니까?</td>
                    </tr>
                    <tr>
                        <td>결과</td>
                        <td> <canvas id="myChart<%=ii%>"  height="250"></canvas> </td>
                        <td>
                            <p>
                                1. 시간 : 33명 (34%)<br>
                                2. 컨텐츠 : 30명 (26%)<br>
                                3. 강사 : 20명 (18%)<br>
                                4. 시설 : 10명 (8%)<br>
                            </p>
                        </td>
                    </tr>
                </table>
                <br>
                <% } %>

                <br>
</div>





<!-- TAB 06 -->
<div class="ui bottom attached tab segment" data-tab="tab06">


                <div class="ui secondary  menu" style="padding:0;">

                    <a class="item active" data-tab="report01">전체</a>
                    <a class="item " data-tab="report02">팀별</a>
                    <a class="item" data-tab="report03">부서별</a>
                    <a class="item" data-tab="report04">직급별</a>
                    <a class="item" data-tab="report05">성별</a>
                    <a class="item" data-tab="report06">나이별</a>
                    <a class="item" data-tab="report07">연차</a>
                    <a class="item" data-tab="report08">개별</a>

                    <div class="right menu" style="padding:0;">
                        <div class="item" style="padding:0;">
                            <div class="ui icon input">
                                <input type="date" placeholder="기간">&nbsp;
                                <input type="date" placeholder="기간">
                            </div>
                        </div>
                  </div>

                </div>
                <hr>


                <!-- KPI선택 -->
                <div class="ui form">
                  <div class="field" >
                      <div class="ui selection dropdown">
                          <input type="hidden" name="gender">
                          <i class="dropdown icon"></i>
                          <div class="default text">KPI (전체)</div>
                          <div class="menu">
                              <div class="item" data-value="0">전체</div>
                              <%
                              var kpi = ['리더십', '커뮤니케이션', '실내안전'];
                              kpi.forEach(function(k, i){
                              %>
                              <div class="item" data-value="<%=k+1%>"><%=k%></div>
                              <% }); %>
                          </div>
                      </div>
                  </div>
                </div>

                <!-- 탭 컨텐츠 -->
                <div class="ui tab active" data-tab="report01">
                    <%- include('../../apl/lecture/detail/report/tab01')%>
                </div>
                <div class="ui tab " data-tab="report02">
                    <%- include('../../apl/lecture/detail/report/tab02')%>
                </div>
                <div class="ui tab" data-tab="report03">
                    <%- include('../../apl/lecture/detail/report/tab03')%>
                </div>
                <div class="ui tab" data-tab="report04">
                    <%- include('../../apl/lecture/detail/report/tab04')%>
                </div>
                <div class="ui tab" data-tab="report05">
                    <%- include('../../apl/lecture/detail/report/tab05')%>
                </div>
                <div class="ui tab" data-tab="report06">
                    <%- include('../../apl/lecture/detail/report/tab06')%>
                </div>
                <div class="ui tab" data-tab="report07">
                    <%- include('../../apl/lecture/detail/report/tab07')%>
                </div>
                <div class="ui tab" data-tab="report08">
                    <%- include('../../apl/lecture/detail/report/tab08')%>
                </div>

                <br>



                <br>
                <br>
                <br>
                <br>




                <br>
</div>




</div>






<!-- 출력버튼 -->
<button class="circular ui icon orange button tooltip" style="position:fixed; bottom:35px; right: 30px;  font-size:1.75em; box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1);" data-content="보고서로 출력(종료 시 생김)">
  <i class="icon print"></i>
</button>
<button class="circular ui icon button tooltip" style="position:fixed; bottom:105px; right: 30px;  font-size:1.75em; box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1);" data-content="수정(종료 시 버튼숨김)">
  <i class="icon write"></i>
</button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript">
    $('.menu .item').tab();
    $(document).ready(function() {
            $('.tooltip').popup();
    });



    var chartData = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [10, 20, 30, 33],
                backgroundColor: ['#4374D9', '#9FC93C', '#CCA63D', '#CC3D3D'],
                // borderColor: ['rgb(255, 99, 132)']
            }],
            labels: ['시설', '강사', '컨텐츠', '시간']
        }
    };
    var ctx0 = document.getElementById('myChart0').getContext('2d');
    var ctx1 = document.getElementById('myChart1').getContext('2d');
    var myDoughnutChart = new Chart(ctx0, chartData);
    var myDoughnutChart = new Chart(ctx1, chartData);

    var ctx_action = document.getElementById('ctx_action').getContext('2d');
    var mixedChart = new Chart(ctx_action, {
      type: 'line',
      data: {
        datasets: [{
              label: '자기평가',
              data: [2, 3, 1, 5, 4],
              backgroundColor:'red'
            }],
        labels: ['사전', '01.01', '01.02', '01.03', '01.04']
      }
    });


    // var myLineChart = new Chart(mixedChart, {
    //     type: 'line',
    //     data: [{
    //           label: '자기평가',
    //           data: [10, 20, 30, 40]
    //         }, {
    //           label: 'GAP',
    //           data: [50, 50, 50, 50],
    //           backgroundColor:'red',
    //           // Changes this dataset to become a line
    //           type: 'line'
    //         }]
    // });


</script>



<script type="text/javascript">
    $(document).on('click', '#prof', function() {
        $('.ui.insertCompany').modal({duration:100}).modal('show');
    })
</script>
